<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hy You</h1>
    <p>
	   	<% for(var i in data) {  %>
	   		<%= data[i] %>
	   	<% } %>
   </p>
  </body>
</html>